.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
  border-radius: 9px;
  background: linear-gradient(90deg, #b84297, #6457c1);
  animation: gradientw 3s ease infinite;
  transition: background-color 0.3s, box-shadow 0.5s;
  box-shadow: 0 0 20px rgba(100, 87, 193, 0.5);
  span {
    text-align: center;
    padding: 9px 18px;
    color: #fff;
    border-radius: 9px;
    background-color: black;
    width: 100%;
    small {
      margin-left: 5px;
      opacity: 0.6;
      font-size: 13px;
      font-weight: 800;
    }
  }
}
