@import '@/styles/base.scss';

$title-level-margin: 18px;

.postNavBar {
  z-index: 99;
  position: fixed;
  right: 8px;
  top: 120px;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #eee;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
  transform: translate(0, 0);
  transition: transform 500ms ease;
}
.postNavBarHide {
  transform: translate(calc(20px + 100%), 0);
}

.toggleBtn {
  position: absolute;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.6);
  color: $secondaryColor;
  font-size: 15px;
  line-height: 30px;
  padding: 0 8px;
  border-radius: 5px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
  transform: translate(calc(-12px - 100%), 0);
  transition: color 300ms ease, background-color 300ms ease;
}

.toggleBtn:active {
  background-color: $secondaryColor;
  color: #fff;
}
