$avatarSize: 50px;

.commentItem {
  display: flex;

  .avatarBox {
    flex-shrink: 0;
    width: $avatarSize;
    height: $avatarSize;
    border-radius: 50%;
    overflow: hidden;
    .avatar {
      width: 100%;
      height: 100%;
    }
  }

  .commentBox {
    margin: 10px;
    .commentInfo {
      display: flex;
    }
    .commentContent {
      word-break: break-word;
      line-height: 1.75;
      font-weight: 400;
      font-size: 15px;
      position: relative;
      margin: 10px 0 0 0;
      max-width: 72%;
      border-radius: 4px;
      font-size: 14px;
      line-height: 1.6;
      padding: 6px 10px;
      box-shadow: 0 4px 8px #0003;
    }
  }
}

.reverseCommentItem {
  flex-direction: row-reverse;
  .commentBox {
    flex-direction: row-reverse;
  }
}
