$avatarSize: 50px;

.commentItem {
  display: flex;
  .avatarBox {
    flex-shrink: 0;
    width: $avatarSize;
    height: $avatarSize;
    border-radius: 50%;
    overflow: hidden;
    .avatar {
      width: 100%;
      height: 100%;
    }
  }
  .commentBox {
    margin: 10px;
    .commentInfo {
      display: flex;
      .name {
        margin: 0 15px;
      }
    }
    .commentContent {
      background-color: #f2f3f5;
      word-break: break-word;
      line-height: 1.75;
      font-weight: 400;
      font-size: 15px;
      position: relative;
      margin: 10px 0 0 0;
      max-width: 72%;
      border-radius: 4px;
      line-height: 1.6;
      padding: 6px 10px;
      box-shadow: 0 4px 8px #0003;
    }
  }
}

.leftCommentItem {
  .commentBox {
    .commentInfo {
    }
    .commentContent {
      &:before {
        // content: '';
        // position: absolute;
        // top: 0;
        // right: 100%;
        // border: 8px solid transparent;
        // border-right: 8px solid #ffffff;
        content: '';
        position: absolute;
        left: -14px;
        top: 6px;
        width: 6px;
        height: 0;
        border-right: solid 12px #f2f3f5;
        border-top: solid 8px rgba(0, 0, 0, 0);
        border-bottom: solid 8px rgba(0, 0, 0, 0);
      }
    }
  }
}

.rightCommentItem {
  flex-direction: row-reverse;
  .commentBox {
    .commentInfo {
      flex-direction: row-reverse;
    }
    .commentContent {
      float: right;
      &:before {
        // content: '';
        // position: absolute;
        // top: 0;
        // left: 100%;
        // // margin-top: -15px;
        // border: 8px solid transparent;
        // border-left: 8px solid #ffffff;
        content: '';
        position: absolute;
        right: -14px;
        top: 6px;
        width: 6px;
        height: 0;
        border-left: solid 12px #f2f3f5;
        border-top: solid 8px rgba(0, 0, 0, 0);
        border-bottom: solid 8px rgba(0, 0, 0, 0);
      }
    }
  }
}
