@import '@/styles/base.scss';

.home {
  height: calc(100vh - #{$footerHeight + $headerHeight});

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    .topPost {
      width: 50%;
      height: 90%;
      display: flex;
      align-items: center;
      .list {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        .topForward {
          width: auto;
          flex-grow: 3;
          margin: 10px;
          padding: 15px;
          background: $secondaryColor;
          border-radius: 20px;
        }
        .topBack {
          width: auto;
          flex-grow: 2;
          margin: 10px;
          padding: 10px;
          background: $secondaryColor;
          border-radius: 20px;
        }
      }
    }
    .show {
      width: 50%;
      height: 90%;
      display: flex;
      justify-content: center;
      align-items: center;
      .image {
        height: 100%;
        width: 100%;
        border-radius: 20px;
        margin: 10px;
        background: $primaryColor;
        position: relative;
        .img {
        }
      }
    }
  }
}
