@import '@/styles/base.scss';

.commentBox {
  .divider {
    margin: 24px 0;
    height: 2px;
    background-image: linear-gradient(to right, $secondaryColor 50%, transparent 50%);
    background-size: 28px 3px;
    background-repeat: repeat-x;
  }

  .commentList {
    border-radius: 7px;
    border: 3px dashed $secondaryColor;
    padding: 8px;
    max-height: 500px;
    overflow: hidden;
    overflow-y: scroll;
  }
}
