.backTop {
  display: 'flex';
  align-items: 'center';
  justify-content: 'center';
  height: 30;
  width: 30;
  border-radius: '100%';
  background-color: '#0077fa';
  color: '#fff';
  bottom: 100;
}
