@import '@/styles/base.scss';

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: -webkit-sticky;
  position: sticky;
  top: 30px;
  margin-top: 30px;

  .headerNav {
    display: flex;
    align-items: center;
    padding: 3px;
    border-radius: 999px;
    background: linear-gradient(-45deg, #b84297, #3e9fcb);
    background-position: 0% 50%;
    animation: gradientw 3s ease infinite;
    transition: background-color 0.3s, box-shadow 0.5s;
    box-shadow: 0 0 20px rgba(100, 87, 193, 0.2);
    .container {
      display: flex;
      align-items: center;
      border-radius: 999px;
      background-color: white;
      a {
        position: relative;
        text-decoration: none;
        font-size: 15px;
        font-weight: bold;
        padding: 10px 25px;
        transition: 0.1s linear;
        z-index: 2;
        color: #b84297;

        .active {
          position: absolute;
          background: rgba(184, 66, 151, 0.15);
          height: 100%;
          width: 100%;
          z-index: -1;
          border-radius: 999px;
          top: 0;
          left: 0;
        }
      }
    }
  }
}
