@import '@/styles/base.scss';

.footer {
  color: rgba(11, 15, 33, 0.65);
  font-size: 14px;
  font-weight: 500;
  padding: 10px 100px;
  height: $footerHeight;

  .author {
    .logo {
      width: 150px;
    }
    .github {
      a {
        text-decoration: none;
      }
    }
  }
  .link {
    .text {
      margin-bottom: 10px;
      a {
        text-decoration: none;
      }
    }
  }
}
